<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

	<dubbo:application name="exchange_service" />


	<dubbo:registry protocol="zookeeper"
		address="localhost:2181" />

	<dubbo:protocol name="dubbo" port="20886" server="netty"
		client="netty" charset="UTF-8" threadpool="fixed" threads="500"
		queues="0" buffer="8192" accepts="0" payload="8388608" />
	
	<dubbo:reference timeout="500000000"
		interface="top.shaozuo.geektime.java01.week09.service.AccountRmbService"
		id="accountRmbService" retries="0" check="false" actives="20"
		loadbalance="hmilyRandom"  version="1.0.0" group="account" />
		
	<dubbo:reference timeout="500000000"
		interface="top.shaozuo.geektime.java01.week09.service.AccountUsdService"
		id="accountUsdService" retries="0" check="false" actives="20"
		loadbalance="hmilyRandom" version="1.0.0" group="account" />
</beans>